.aboutContainer {
    background: var(--primary-hover-color);
    margin: 100px 100px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aboutContainer div ul {
    font-family: "Roboto", sans-serif;
    list-style-type: disc;
    padding-left: 30px;
    line-height: 26px;
}

.aboutContainer div a {
    font-weight: 900;
}

.aboutContainer div a:hover {
    color: var(--secondary-hover-color);
}

.aboutContainer #text {
    max-width: 700px;
    color: var(--white-color);
    letter-spacing: 0.5px;
    padding: 50px;
}

.aboutContainer div:first-child h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    margin-bottom: 35px;
}

.aboutContainer div:first-child p {
    margin: 20px 0 10px 0;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    line-height: 26px;
}

.aboutContainer #idImg {
    max-width: 500px;
    padding: 50px 20px;
}

.contacts {
    max-width: none;    
    margin: 10px 10px;
    display: flex;
    padding: 10px;
    /* border: 1px solid var(--secondary-hover-color); */
    /* border-radius: 5px;
    background-color: var(--white-color); */
}

.contacts div {
    color: var(--secondary-hover-color);
    margin: 10px 0;
    font-size: 1.5rem;    
    display: flex;
    align-items: center;
    border-right: 1px solid var(--secondary-color);
    padding: 10px;
}

.contacts #instagram,
.contacts #tiktok,
.contacts #whatsapp,
.contacts #instagram a,
.contacts #tiktok a,
.contacts #whatsapp a {
    color: var(--secondary-hover-color);
    /* color: var(--title-color); */
    font-weight: 400;
}

.contacts #tiktok {        
    border: none;
}

.contacts div a {
    margin: 0 10px;
    font-weight: 400;
    color: var(--secondary-hover-color);
    font-family: "Roboto", sans-serif;
    transition: all 0.2s linear;
}

.contacts div a:hover,
.contacts #whatsapp a:hover,
.contacts #instagram a:hover,
.contacts #tiktok a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
    transition: all 0.2s linear;
}

@media(max-width: 529.9px) {
    .aboutContainer {
        border-radius: 20px;
    }
}

@media(max-width: 713.9px) {
    .aboutContainer {
        margin: 0 0  50px 0;
    }
}

@media(max-width: 949.9px) {
    .aboutContainer div:first-child {
        max-width: none;
    }
    
    .aboutContainer #idImg {
        display: none;
    }
}

@media(max-width: 1094.9px) {
    .aboutContainer #text {
        max-width: 500px;
    }
    .aboutContainer div:last-child {
        padding: 0 10px 0 0;
    }
    .contacts {
        flex-direction: column;
        margin-top: 20px;
    }

    .contacts div {
        border: none;
        padding: 0;
    }
}

@media(max-width: 1144px){
    .aboutContainer div:first-child h1 {
        font-size: 2rem;
    }
    .aboutContainer div:first-child p {
        font-size: 1rem;
    }
}

@media(max-width: 1373px) {
    .aboutContainer #idImg {
        display: none;
    }   
}