.aboutContainer {
    background: var(--primary-hover-color);
    margin: 100px 100px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aboutContainer div ul {
    font-family: "Roboto", sans-serif;
    list-style-type: disc;
    padding-left: 30px;
    line-height: 26px;
}

.aboutContainer div a {
    font-weight: 900;
}

.aboutContainer div a:hover {
    color: var(--secondary-hover-color);
}

.aboutContainer div:first-child {
    max-width: 700px;
    color: var(--white-color);
    letter-spacing: 0.5px;
    padding: 50px;
}

.aboutContainer div:first-child h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    margin-bottom: 35px;
}

.aboutContainer div:first-child p {
    margin: 20px 0 10px 0;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    line-height: 26px;
}

.aboutContainer div:last-child {
    max-width: 500px;
    padding: 50px 20px;
}

@media(max-width: 529.9px) {
    .aboutContainer div:last-child {
        
    }
}

@media(max-width: 713.9px) {
    .aboutContainer {
        margin: 0 0  50px 0;
    }
}

@media(max-width: 949.9px) {
    .aboutContainer div:first-child {
        max-width: none;
    }
    
    .aboutContainer div:last-child {
        display: none;
    }
}

@media(max-width: 1094.9px) {
    .aboutContainer div:first-child {
        max-width: 500px;
    }
    .aboutContainer div:last-child {
        padding: 0 10px 0 0;
    }
}

@media(max-width: 1144px){
    .aboutContainer div:first-child h1 {
        font-size: 2rem;
    }
    .aboutContainer div:first-child p {
        font-size: 1rem;
    }
}

@media(max-width: 1373px) {
    .aboutContainer div:last-child {
        display: none;
    }   
}