.footer {
    background: var(--black-color);
    height: 250px;
    padding: 0 50px;
 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#emptyDiv {
    width: 260px;
}

.footer div:first-child {
    max-width: 235px;
    max-height: 75px;
}

.footerComunications {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white-color);
    height: 100%;
    justify-content: space-between;
    padding: 20px 0;
    text-align: center;
}

.footerComunications > * {
    margin: 5px;
}

.footerComunications div:first-child a {
    font-size: 2.8rem;
    padding: 10px 15px;
}

@media(max-width: 1094.9px) {
    #emptyDiv {
        display: none;
    }
}


@media(max-width: 564.9px) {
    .footer {
        padding-top: 30px;
        flex-direction: column;
    }

    .footerComunications div:last-child {
        font-size: 0.5rem;
    }
    .footerComunications div:last-child a {
        font-size: 0.5rem;
    }

}

@media(max-width: 759.9px) {
    .footerComunications  {
        justify-content: center;
    }

    .footerComunications div:last-child {
        font-size: 0.6rem;
    }

    .footerComunications div:last-child a {
        font-size: 0.6rem;
    }

}