.phoneImg {
    display: none;
}
.homeRaffles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0 100px 0;
}

.homeRaffles div:last-child {
    max-width: 615px;
    color: var(--white-color);
    letter-spacing: 0.5px;
}

.homeRaffles div:last-child > * {
    margin: 20px 0 20px 0;
    text-align: justify;
    font-family: "Roboto", sans-serif;
}

.homeRaffles div:last-child p { 
    line-height: 26px;
}

.homeRaffles div:last-child h4,
.homeRaffles div:last-child h1 {
    font-family: "Montserrat", sans-serif;
}

.homeRaffles div:last-child h4 { 
    margin-bottom: 40px;
}

.homeRaffles div:last-child h1 {
    font-size: 3rem;
}

.homeRaffles div:last-child h4 {
    font-size: 2rem;
}

.homeRaffles div:last-child a {
    font-weight: 900;
}

.homeRaffles div:last-child a:hover {
    color: var(--secondary-hover-color);
}

@media(max-width: 1079.9px) {
    .homeRaffles div:last-child h1 {
        font-size: 2rem;
    }

    .homeRaffles div:last-child h4 {
        font-size: 1.3rem;
    }

    .homeRaffles div:last-child {
        max-width: 400px;
    }
}

@media(max-width: 759.9px) {
    .homeRaffles {
        flex-direction: column;
        align-items: center;
    }
    .homeRaffles div:first-child img {
        display: none;
    }
    .phoneImg {
        display: block;
    }
}