.header{
    border-top: 6px solid var(--black-color);/*#2c3e50*/
    background: var(--black-color);
}

.headerLogo{
    width: 180px;
    padding: 0;
    float: left;
}

.headerLogo a img{
    width: 235px;
    height: 75px;
}

/*header menu*/
.headerNav{
    float: left;
    padding: 25px 0;
}

.headerNav ul li{
    display: inline-block;
    margin: 0 3px;
    position: relative;
}

.headerNav ul li a{
    color: var(--white-color);
    text-transform: initial;
    font-weight: 600;
    font-size: 0.875rem;
}

.headerNav ul li a.active{
    color: var(--primary-color);
}

#navToggle{
    border-bottom-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    position: fixed;
    z-index: 15000;
    display: none;
    background: var(--secondary-color);
    padding: 15px;
    top: 0;
    right: 0;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

#navToggle span{
    border-radius: 1px;
    height: 2px;
    width: 30px;
    display: block;
    background: #ffffff;
    -webkit-border-radius: 1px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

#navToggle span:nth-child(2){
    margin: 6px 0;
}

#navToggle.active span:nth-child(1){
    transform: rotate(45deg) translate3d(6px,6px,0);
    -webkit-transform: rotate(45deg) translate3d(6px,6px,0);
}

#navToggle.active span:nth-child(2){
    opacity: 0;
}

#navToggle.active span:nth-child(3){
    transform: rotate(-45deg) translate3d(6px,-5px,0);
    -webkit-transform: rotate(-45deg) translate3d(6px,-5px,0);
}

.headerNav ul li a:hover{
    color: var(--primary-color);
}

.headerRedes{
    position: relative;
    margin: 20px 0;
    float: right;
    text-align: center;    
}

.headerRedes a{
    color: #fff;
    font-size: 2rem;
    margin: 0 10px;
    cursor: pointer;
}

.headerRedes a:hover {
    color: var(--primary-color);
}

.headerButtons {
    position: relative;
    margin: 20px 0;
    float: left;
    text-align: center;  
}

.headerButtons div {
    color: #fff;
    margin: 0 10px;
}

.headerButton button {
    font-size: 0.8rem;
    width: 160px;
    height: 35px;
    border-radius: 8px;
    text-transform: uppercase;
}

.headerButton button a {
    font-size: 0.8rem;
    color: #fff;
    text-transform: uppercase;
}

.headerButton button a:hover {
    color: #fff;
}

.headerButton button:first-child {
    position: relative;
    margin-left: 5rem;
    background: transparent;
    color: var(--white-color);
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 2px;
    transition: all 0.2s linear;
}

.headerButton button:first-child:hover {
    color: var(--white-color);
    background: var(--primary-color);
    /* border-color: var(--white-color); */
    transition: all 0.2s linear;
}

.headerButton button:last-child {
    position: relative;
    margin-left: 2rem;
    color: var(--white-color);
    background: var(--primary-color);
    transition: all 0.2s linear;
}

.headerButton button:last-child:hover {
    color: var(--white-color);
    background: var(--primary-hover-color);
    transition: all 0.2s linear;
}

.itemNavbar {
    cursor: pointer;
}

.animationScroll {
    animation: 0.80s;
}



@media(max-width: 1094.9px) {
    #navToggle,
    .headerRedes, 
    .headerButtons {
        display: block;
    }

    .headerRedes, 
    .headerButtons{
        float: none;
    }

    .headerLogo {
        max-width: 180px;
        width: 60%;
        padding: 3px 0;
    }

    .headerLogo  a img{
        height: 75px;
    }
    
    /*menu*/
    .headerCollapse{
        overflow-y: auto;
        position: fixed;
        background: rgba(16, 16, 16, .95);
        width: 100%;
        height: 100%;
        z-index: 10000;
        padding: 15px;
        top: -100%;
        left: 0;
        transition: top .4s ease;
        -webkit-transition: top .4s ease;
    }

    .headerCollapse.active {
        top: 0%;
        
    }

    .headerNav{
        padding: 25px 0;
        float: none;
    }

    .headerNav ul li{
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }

    .headerNav ul li a{
        color: #ffffff;
        font-size: 1.4rem;
    }

    .headerSearch{
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        float: none;
    }

    .headerSearch input{
        padding: 15px;
    }
}

@media(min-width: 1095px) {
    @keyframes animaHeader {
        0%{
            opacity: 0;
            transform: translateY(-100%);
            -webkit-transform: translateY(-100%);
        }
        100%{
            opacity: 1;
            transform: translateY(0%);
            -webkit-transform: translateY(0%);
        }
    }

    .fixed{
        position: fixed;
        background: #101010;
        z-index: 20; 
        z-index: 10000;
        animation: animaHeader .7s ease-in-out .4s backwards;
        -webkit-animation: animaHeader .7s ease-in-out .4s backwards;
    }

    .headerNav{
        margin-left: 2%;
    }

}

@media(max-width: 1373px) {
    .headerNav{
        padding-top: 35px;
    }
    
    /* .headerNav ul li a.active:before{
        background: #f47933;
        content: "";
        position: absolute;
        height: 6px;
        width: 100%;
        top: -31px;
        left: 0;
    } */

    .headerButtons div,
    .headerButton button:last-child,
    .headerButton button:first-child {
        margin: 5px;
    }

    .headerLogo a img{
        width: 150px;
        height: 75px;
    }
}
 
@media(min-width: 1024px) {
    .headerNav ul li{
        margin: 0 6px;
    }
}

@media(min-width: 1144px){
    .headerLogo{
        width: auto;
    }
    .headerNav ul li a{
        font-size: 1rem;
    }

}

@media(min-width: 1280px) {
    .headerNav ul li{
        margin: 0 15px;
    }
    .headerSearch{
        width: 260px;
    }
}   

@media(min-width: 1420px) {
    .headerNav {

    }
}
